<div class="mt-4 w-60">
    <h2 class="text-center mb-4">Thay đổi mật khẩu</h2>
    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    {{#if mess}}
    <div class="alert alert-success">{{mess}}</div>
    {{/if}}

    <form method="POST" action="/me/change-password">
        <div class="form-group">
            <label for="currentPassword">Mật khẩu hiện tại</label>
            <input type="password" class="form-control" value="{{formData.currentPassword}}" id="currentPassword" name="currentPassword" placeholder="Nhập mật khẩu hiện tại">
        </div>
        <div class="form-group">
            <label for="newPassword">Mật khẩu mới</label>
            <input type="password" class="form-control" value="{{formData.newPassword}}" id="newPassword" name="newPassword" placeholder="Nhập mật khẩu mới">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Xác nhận mật khẩu mới</label>
            <input type="password" class="form-control" value="{{formData.confirmPassword}}" id="confirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu mới">
        </div>
        <button type="submit" class="btn btn-primary">Cập nhật mật khẩu</button>
    </form>
</div>