<form name="container-form" class="mt-4" method="POST" action="/tasks/trash-handle-action">

    <h3>Nhiệm vụ đã xóa</h3>

    <a href="/me/mylist" class="btn btn-info btn-sm">Danh sách công việc</a>

    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
        </div>
        <select class="custom-select custom-select-sm select-all-options" name="action" required>
            <option value="">Chọn hành động</option>
            <option value="restore">Khôi phục</option>
            <option value="destroy">Xóa vĩnh viễn</option>
        </select>
        <button class="btn btn-primary btn-sm checked-submit-btn" disabled>Thực hiện</button>
    </div>

    <table class="table mt-4">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th scope="col">STT</th>
                <th scope="col">Tiêu đề</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col">Tùy chọn</th>
            </tr>
        </thead>
        <tbody>
            {{#each tasks}}
            <tr>
                <td>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="tasksIds[]" value="{{this._id}}">
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.title}}</td>
                <td>{{formatDate this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-primary btn-restore" data-id={{this._id}}>Khôi phục</a>
                    <a href="" class="btn btn-danger" data-toggle="modal" data-id={{this._id}}
                        data-target="#delete-task-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="7" class="text-center">
                    Thùng rác trống.
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

<!-- Phân trang -->
{{#if (gt totalPages 1)}}
<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">
        {{#if (gt currentPage 1)}}
        <li class="page-item">
            <a class="page-link" href="?page={{subtract currentPage 1}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {{/if}}

        {{#each (range 1 totalPages)}}
        <li class="page-item {{#if (equal this ../currentPage)}}active{{/if}}">
            <a class="page-link" href="?page={{this}}">{{this}}</a>
        </li>
        {{/each}}

        {{#if (lt currentPage totalPages)}}
        <li class="page-item">
            <a class="page-link" href="?page={{add currentPage 1}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {{/if}}
    </ul>
</nav>
{{/if}}

{{!-- Confirm Delete --}}
<div id="delete-task-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa vĩnh viễn nhiệm vụ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục. Bạn có chắn chắn muốn xóa không ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-task" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete-form --}}
<form name="delete-form" method="POST"></form>
{{!-- Restore-form --}}
<form name="restore-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var taskId;
        var deleteForm = document.forms['delete-form'];
        var btnDeleteTask = document.getElementById('btn-delete-task');
        var restoreForm = document.forms['restore-form'];
        var btnRestoreTask = $('.btn-restore');
        var checkboxAll = $('#checkbox-all');
        var taskItemCheckbox = $('input[name="tasksIds[]"]');
        var checkedSubmitBtn = $('.checked-submit-btn');

         //When delete click
        $('#delete-task-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            taskId = button.data('id');
        });

        //When delete-btn confirm click
        btnDeleteTask.onclick = function () {
            deleteForm.action = '/tasks/' + taskId + '/destroy?_method=DELETE';
            deleteForm.submit();
        };

        //When restore-btn click
        btnRestoreTask.click(function (e) {
            e.preventDefault();
            var taskId = $(this).data('id');
            restoreForm.action = '/tasks/' + taskId + '/restore?_method=PATCH';
            restoreForm.submit();
        });

        //When checkbox all change
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            // Nếu check all thì cũng chọn tất cả select con
            taskItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        //When check item change
        taskItemCheckbox.change(function () {
            var isCheckedAll = taskItemCheckbox.length === $('input[name="tasksIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="tasksIds[]"]:checked').length;
            if (checkedCount) {
                checkedSubmitBtn.attr('disabled', false);
            } else {
                checkedSubmitBtn.attr('disabled', true);
            }
        };
    });
</script>